In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('files/Egypt_Houses_Price.csv')

print(df.head())

        Type    Price Bedrooms Bathrooms   Area Furnished   Level Compound  \
0     Duplex  4000000      3.0       3.0  400.0        No       7  Unknown
1  Apartment  4000000      3.0       3.0  160.0        No     10+  Unknown
2  Apartment  2250000      3.0       2.0  165.0        No       1  Unknown
3  Apartment  1900000      3.0       2.0  230.0        No      10  Unknown
4  Apartment  5800000      2.0       3.0  160.0        No  Ground  Eastown

  Payment_Option  Delivery_Date  Delivery_Term                    City
0           Cash  Ready to move       Finished               Nasr City
1           Cash  Ready to move       Finished             Camp Caesar
2           Cash  Ready to move       Finished                   Smoha
3           Cash  Ready to move       Finished               Nasr City
4           Cash  Ready to move  Semi Finished  New Cairo - El Tagamoa

In [3]:
print(df.isnull().sum())

Type                0
Price               2
Bedrooms          203
Bathrooms         171
Area              471
Furnished           0
Level               0
Compound            0
Payment_Option      0
Delivery_Date       0
Delivery_Term       0
City                0
dtype: int64

In [4]:
df.shape

(27361, 12)

In [5]:
df.groupby('Type')['Type'].agg('count')

Type
Apartment            8506
Chalet               6593
Duplex                861
Penthouse             526
Stand Alone Villa    4629
Standalone Villa      608
Studio                250
Town House           3074
Twin House           1795
Twin house            483
Unknown                36
Name: Type, dtype: int64

In [7]:
print(df.columns)

Index(['Type', 'Price', 'Bedrooms', 'Bathrooms', 'Area', 'Furnished', 'Level',
       'Compound', 'Payment_Option', 'Delivery_Date', 'Delivery_Term', 'City'],
      dtype='object')

In [9]:
droppeddf = df.drop(['Compound','Payment_Option', 'Delivery_Date', 'Delivery_Term'],axis = "columns")

In [10]:
print(droppeddf.head())

        Type    Price Bedrooms Bathrooms   Area Furnished   Level  \
0     Duplex  4000000      3.0       3.0  400.0        No       7
1  Apartment  4000000      3.0       3.0  160.0        No     10+
2  Apartment  2250000      3.0       2.0  165.0        No       1
3  Apartment  1900000      3.0       2.0  230.0        No      10
4  Apartment  5800000      2.0       3.0  160.0        No  Ground

                     City
0               Nasr City
1             Camp Caesar
2                   Smoha
3               Nasr City
4  New Cairo - El Tagamoa

In [12]:
print(droppeddf.isnull().sum())

Type           0
Price          2
Bedrooms     203
Bathrooms    171
Area         471
Furnished      0
Level          0
City           0
dtype: int64

In [17]:
droppeddf = droppeddf.dropna()
print(droppeddf.isnull().sum())
print("Shape:",droppeddf.shape)

Type         0
Price        0
Bedrooms     0
Bathrooms    0
Area         0
Furnished    0
Level        0
City         0
dtype: int64
Shape: (26730, 8)